:root {
    --ifm-color-primary: #006d77;
    --ifm-color-secondary: #dadde1;
    --ifm-color-gray-500: #dadde1;
    --ifm-color-emphasis-300: #dadde1;

    --ifm-color-success: #00a400;
    --ifm-color-info: #54c7ec;
    --ifm-color-warning: #ffba00;
    --ifm-color-danger: #5f0f40;
    --ifm-background-color: #f4f4f4;

    --collapse-button-bg-color-dark: #242526;
    --ifm-color-content-secondary: #242526;
    
    --ifm-color-emphasis-900: #242526;
    --ifm-color-emphasis-700: #242526;
    

    --ifm-footer-link-color: #f4f4f4;
    --ifm-footer-background-color: #242526;

    --ifm-color-white: #f4f4f4;
    --ifm-color-black: #242526;
}

html[data-theme='dark'] {
    --ifm-color-primary: #00d4e7;
    --ifm-background-color: #18191a;
    --ifm-hover-overlay: #242526;
    --ifm-color-content-secondary: #f4f4f4;
    --ifm-color-emphasis-900: #f4f4f4;
    --ifm-color-emphasis-700: #f4f4f4;
    --collapse-button-bg-color-light: #f4f4f4;
    --ifm-color-emphasis-300: #242526;
    --ifm-color-secondary: #dadde1;
    --ifm-color-gray-500: #242526;
}